/*------------------------------------------------------------------
[Table of contents]
1. 	
------------------------*/

/*----------------
[Styles for devices(>1200px)]
*/
@media (min-width: 1200px) {
	.container {
	    width: 990px;
	}
}

/*----------------
[Styles for devices(<992px)]
*/
@media (max-width: 991px) {
	.container>.navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
	.logo-menu-res {
		padding: 10px 15px 0;
		display: block;
	}
	.logo-menu-res img {
		margin: 0 auto;
	}
	.navbar-toggle {
		display: block !important;
	}
	.navbar-toggle.has-open:after {
	    content: "";
	    display: block;
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: rgba(255, 255, 255, 0.5);
	    z-index: 777;
	}
	.menu {
		background-color: #183544;
		clear: both;
		float: none;
		display: block;
		position: fixed !important;
		left: -100% !important;
		width: 80%;
		top: 0;
		bottom: 0;
		z-index: 9999;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow-y: auto !important;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		right: auto !important;
	}
	.menu {
		margin: 0;
		height: auto !important;
	}
	.menu.has-open {
		visibility: visible;
		opacity: 1;
		left: 0 !important;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		  overflow-y: auto !important;
	}
	.navbar-left {
		float: none!important;
	}
	.menu ul {
		padding: 10px;
		margin: 0;
	}
	.menu>ul>li {
		border-bottom: 1px solid #ddd;
	}
	.navbar-nav>li {
		float: none;
	}
	.menu .navbar-nav > li> a {
		line-height: 35px;
		padding: 0;
	}
	.menu .navbar-nav .submenu li:last-child>a {
		border-bottom: none;
	}
	.menu .navbar-nav .submenu li.open > a {
	    border-bottom: 1px solid #e1e1e1;
	}
	.menu li.parent .carret-down {
		color: #fff;
		height: 35px;
		line-height: 35px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 35px;
		z-index: 9;
		cursor: pointer;
	}
	.navbar.navbar-custom .navbar-nav>li.parent .carret-down {
		display: none;
	}
	.navbar.navbar-custom .navbar-nav>li.parent .carret-down:before {
	  font-size: 20px;
	}
	.menu .navbar-nav li:hover > .submenu {
		-webkit-transition: inherit;
		transition: inherit;
		-webkit-transform: translate(0, 10px);
		-ms-transform: translate(0, 10px);
		-o-transform: translate(0, 10px);
		transform: translate(0, 10px);
	}
	.menu .navbar-nav .submenu {
		background: transparent;
		box-shadow: none;
		display: none;
		left: 0px;
		opacity: 1;
		padding: 0 0 0 10px;
		position: relative;
		top: -10px;
		visibility: visible;
		width: 100%;
	}
	.menu .navbar-nav .submenu li a { color: #fff; }
	.menu .navbar-nav .submenu .submenu {
		left: 0;
		top: -10px;
	}
	/*.navbar.navbar-custom .navbar-nav>li.parent .carret-down {
		position: absolute;
		color: #fff;
		right: 15px;
		top: 10px;
	}*/
	.menu .navbar-nav > li .submenu li.parent > a:after { display: none; }
	.navbar.navbar-custom .navbar-nav>li.parent .carret-down:before {
		content: "\f0d7";
		font-family: "Fontawesome";
	}
	.menu li.parent .carret-down.open:before {
		content: "\f0d8";
	}
	.menu .navbar-nav>li>a:after {
		display: none;
	}
	.block-slide-about {
		display: none;
	}
	.block-info-about {
		width: 75%;
	}
	.menu li.parent .plus {
		color: #fff;
		height: 35px;
		line-height: 35px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 35px;
		z-index: 9;
		cursor: pointer;
		}
	.menu li.parent .plus:before {
		content: "\f067";
		font-family: "FontAwesome";
	}
	.menu li.parent .plus.open:before {
		content: "\f068";
	}
}

@media (max-width: 768px) {
	.container {
	    width: 100%;
	}
}

@media (max-width: 767px) {
	.header {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.header .logo {
		text-align: center;
		margin-bottom: 10px;
	}
	.social-share {
	    margin-bottom: 10px;
	}
}

@media (max-width: 600px) {
	.contact-form {
	    padding: 0 30px;
	}
}

@media (max-width: 480px) {
	.header .info {
		text-align: center;
	}
}

@media (max-width: 480px) {
	.block-info-about {
		width: 100%;
	}
	.contact-form {
	    padding: 0;
	}
}